standby_mode = 'on'
primary_conninfo = 'host={{ pg_master }} port={{ pg_master_port }} user={{ pg_replication_user }} password={{ pg_replication_password }} application_name={{ inventory_hostname }} sslmode=prefer sslcompression=1 keepalives_idle=60 keepalives_interval=5 keepalives_count=5'
primary_slot_name = '{{pg_replication_slot_name}}_{{ inventory_hostname | regex_replace('[-.]', '_') }}'
trigger_file = '/var/lib/postgresql/{{ pg_version }}/{{ pg_cluster_name }}/trigger_file'
recovery_target_timeline = 'latest'

